<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.ticketsys.dao.OrderToPassengerDao">
    <insert id="insertOrderToPassenger" parameterType="com.zxc.ticketsys.model.OrderToPassenger">
        insert into order_passenger(orId,psgId,seNo) values(#{orId},#{psgId},#{seNo});
    </insert>
    <select id="selectPsgByOrId" parameterType="java.lang.Long" resultType="com.zxc.ticketsys.model.OrderToPassenger">
        select * from order_passenger where orId=#{orId};
    </select>
    <update id="updateStatusSetFour" parameterType="java.lang.Long">
        update order_passenger set status=4 where orId=#{orId} and psgId=#{psgId};
    </update>
    <select id="selectOrIdByPsgId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select orId from order_passenger where psgId=#{psgId};
    </select>
    <select id="selectStatusByOrIdAndPsgId" parameterType="java.lang.Long">
        select status from order_passenger where orId=#{orId} and psgId=#{psgId};
    </select>
</mapper>