<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.ticketsys.dao.TrainToSeatDao">
    <select id="selectSeatCntByTrId" resultType="java.lang.Integer">
        select count(*) from train_seat,seat where trId=#{trId} and train_seat.seNo=seat.seNo and seLev=#{lev} and status=1;
    </select>
    <select id="selectSeatByTrId" resultType="com.zxc.ticketsys.model.TrainToSeat">
        select * from train_seat where trId=#{trId};
    </select>
    <select id="selectIdxByTrIdAndSeNo" resultType="java.lang.Integer">
        select idx from train_seat where trId=#{trId} and seNo=#{seNo} and status=1 ;
    </select>
    <update id="updateTrainToSeat" parameterType="com.zxc.ticketsys.model.TrainToSeat">
        update train_seat set status=#{status} where trId=#{trId} and seNo=#{seNo} and idx=#{idx};
    </update>
    <insert id="insertTrainToSeat" parameterType="com.zxc.ticketsys.model.TrainToSeat">
        insert into train_seat(trId,seNo,idx,status) values(#{trId},#{seNo},#{idx},#{status});
    </insert>
    <insert id="test" parameterType="com.zxc.ticketsys.model.Seat">
        insert into seat values(#{seNo},#{seLev});
    </insert>
</mapper>